/* .featured{
  border: solid red;
  margin-bottom: 2rem;
  margin-top: -3.5rem;
  position: absolute; 
  left: 0; 
  right: 0;
  bottom: 1; 
  height: 30vh;
  width: 100%;
  background-color: #183a1d;
  display: grid;
} */

.featured{
border: solid red; /* Adjust the thickness as needed */
position: absolute;
/* top: 0; */
left: 0;
right: 0;
bottom: 1;
margin-bottom: 12rem;
margin-top: -15rem;
height: 30vh;
width: 100%;
background-color: #183a1d;
display: grid;
grid-template-columns: 2fr;
}