.leader{
    margin: 0;
    padding: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
}

.lead-content h1{
    margin-bottom: 0;
    color: #0b3b0e;
}

.lead-content{
    /* border: solid red; */
}

.lead-img img{
    max-width: 100%;
    max-height: 70vh;
    overflow: hidden;
    object-fit: cover;
    transition: var(--transition);
    /* border: solid red; */
}
.lead-content h3{
    margin-bottom: 0.5rem;
    color: #0b3b0e;
}

/* Media Queries for tablets */
@media screen and (max-width: 1024px){
    .lead-content h1{
        margin-bottom: 0;
        color: #0b3b0e;
    }
    
    .lead-img{
        /* border-radius: 2rem; */
        overflow: hidden;
        object-fit: cover;
        transition: var(--transition);
        border: 100px;
    }
    .lead-content h3{
        margin-bottom: 0.5rem;
        color: #0b3b0e;
    }
    
}


@media screen and (max-width: 600px){
body{
    padding: 0;
}

    .leader{
        width: 100%;
        width: var(--container-width-sm);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
    .lead-content p{
        margin-bottom: 0;
        font-size: 11px;
    }
}