#logo{
    max-height: 80px;
    max-width: 800px;
    top: 0;
    bottom: 0;
    left: 0; 
    background-color: none;
  }

  /* import React from 'react'
import './Leaders.css'
import img from '../assets/bish.jpeg'
import im3 from '../assets/vc.jpeg'
import im4 from '../assets/James.jpg'
import im5 from '../assets/Liz.jpeg'
import im6 from '../assets/maggy.jpeg'
import im7 from '../assets/peter.jpeg'
import im8 from '../assets/kelvin.jpeg'
import im9 from '../assets/Nion.jpeg'
import im10 from '../assets/Pst.Renson.jpeg'
import im11 from '../assets/Eunice.jpeg */

.leader{
  background: #fff;
  padding: 70px 0;
}

.lead-item{
  background: #f4f5f6;
  text-align: center;
  margin: 20px 0;
  padding: 50px 20px 40px 20px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.lead-item:hover{
  background: green;
  color: #fff;
}

.lead-img img{
  max-width: 100%;
  max-height: 70vh;
  overflow: hidden;
  object-fit: cover;
  transition: var(--transition);
  border-radius: 50%;
}